containers:
    - name: {{ name }}
      imageDetails:
          imagePath: {{ registry_path }}
          username: {{ image_username }}
          password: {{ image_password }}
      command: ["sh", "-c", "tail -f /dev/null"]
      ports:
        - containerPort: 22	  
          name: ssh
